@import 'loader';

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #000;
  margin: 0;
  position: relative;
}

canvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  /* position: fixed; */

}
#a, #b {
  height: 100vh; /* Chaque section occupe la hauteur de la fenêtre */
  width: 100%; /* Occupe toute la largeur */
}